.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    position: relative;
    top: 350px;
    font-family: 'Roboto', sans-serif;

}
.footer-card{
    height: 150px;
    width: 150px;
}
.it{
    font-size: 1rem;
    color: white;
  }
  .company{
      position: relative;
      left: 50px;
      top: 30px;
  }
  .phone{
      position: relative;
     right: 5px;
     top: 30px;
      text-align: center;
  }
  li{
      margin: 20px 0 5px 0;
      color: black;
  }
  h5{
      color: white;
      font-size: 1rem;
  }
  .abouting{
      position: relative;
      top: -300px;
      left: 78%;
      font-size: 0.5rem;

  }
  .its{
    font-size: 1rem;
    color: white;
  }
 .aboutus{
     color: white;
     font-size: 1rem;
     font-family: 'Fraunces', serif;
     position: relative;
     left: 60%;
     bottom: 20px;
     
 }
 .aboutus:hover {
color: white; 
 }
 .model{
     text-align: center;
 }
.service{
    font-size: 1.3rem;
}
.zaid{
    height: 200px;
    width: 160px;
    border-radius: 100%;
}
.model1{
    background-color: orange;
}


@media only screen and (max-width: 1200px) {
    .footer{
        height: 120px;
        width: 100%;
        background-color: rgb(26, 27, 26)   ;
        position: relative;
        top: 400px;
        overflow-x: hidden;
        overflow-y:hidden ;
    }
    .company{
        position: relative;
        left: 120px;
        top: 40px;
        display: inline-block;
    }
    .phone{
    visibility: hidden;
    }
    .aboutus{
    position: relative;
    left: 75%;
    bottom: 10px;
    font-size: .8rem;
    display: inline-block;
    
    }
    .it{
        font-size: 0.8rem;
        color: white;
      }
      h5{
        color: white;
        font-size: 0.8rem;
    }
    }


@media only screen and (max-width: 1000px) {
    .footer{
        height: 120px;
        width: 100%;
        background-color: rgb(26, 27, 26)   ;
        position: relative;
        top: 400px;
        overflow-x: hidden;
        overflow-y:hidden ;
    }
    .company{
        position: relative;
        left: 90px;
        top: 40px;
        display: inline-block;
    }
    .phone{
    visibility: hidden;
    }
    .aboutus{
    position: relative;
    left: 70%;
    bottom: 10px;
    font-size: .8rem;
    display: inline-block;
    
    }
    .it{
        font-size: 0.8rem;
        color: white;
      }
      h5{
        color: white;
        font-size: 0.8rem;
    }
    }

@media only screen and (max-width: 700px) {
.footer{
    height: 120px;
    width: 100%;
    background-color: rgb(26, 27, 26)   ;
    position: relative;
    top: 400px;
    overflow-x: hidden;
    overflow-y:hidden ;
}
.company{
    position: relative;
    left: 50px;
    top: 20px;
    display: inline-block;
}
.phone{
visibility: hidden;
}
.aboutus{
position: relative;
left: 60%;
bottom: 130px;
font-size: .8rem;
display: inline-block;

}
.it{
    font-size: 0.8rem;
    color: white;
  }
  h5{
    color: white;
    font-size: 0.8rem;
}
}
@media only screen and (max-width: 400px) {
    .footer{
        height: 120px;
        width: 100%;
        background-color: rgb(26, 27, 26)   ;
        position: relative;
        top: 400px;
        overflow-x: hidden;
        overflow-y:hidden ;
    }
    .company{
        position: relative;
        left: 20px;
        top: 20px;
        display: inline-block;
    }
    .phone{
    visibility: hidden;
    }
    .aboutus{
    position: relative;
    left: 65%;
    bottom: 130px;
    font-size: .8rem;
    display: inline-block;
    
    }
    .it{
        font-size: 0.8rem;
        color: white;
      }
      h5{
        color: white;
        font-size: 0.8rem;
    }
    }