.carousel{

height: 500px;
max-width: 45%;
position: relative;
top: 340px;
left: 470px;
display: inline-block;
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
background-color: rgb(245, 248, 85);

}
.line{
    color: black;
}

@media only screen and (max-width: 700px) {
    .carousel{
        height: 400px;
        max-width: 60%;
        position: relative;
        top: 300px;
        
        left: 110px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        .helper{
            font-size: 18px;
        }
        
}